@import "tailwindcss";
@import "./text.css";

@theme{
	--spacing: 8px;

	--radius-*: initial;
	--radius-xs: 4px;
	--radius-sm: 8px;
	--radius-md: 12px;
	--radius-lg: 16px;
	--radius-xl: 20px;
	--radius-2xl: 24px;
	--radius-3xl: 32px;
	--radius-full: 99999px;
}