---
import BaseLayout from "@layout/BaseLayout.astro"
import Button from "../components/Button.astro";
import WindowsLogoFill from "phosphor-astro/WindowsLogoFill.astro";
import DownloadLinks from "@components/downloads/DownloadLinks.astro";
import {getDownloadLinks} from "../lib/downloads";

export const prerender = false;
const downloadLinks = await getDownloadLinks();
---

<BaseLayout>
    <main class="flex flex-col items-center gap-11 py-11 px-2.5">
        <div class="flex flex-col items-center gap-2">
            <div>
                <h4 class="font-medium">Download Folio for desktop</h4>
                <p>Folio is currently in beta, your support is highly appreciated.</p>
            </div>

        </div>
        <DownloadLinks {downloadLinks}/>
    </main>
</BaseLayout>


