---
import BaseLayout from "@layout/BaseLayout.astro"
import About from "@components/home/About.astro"
import Hero from "@components/home/Hero.astro";
---

<BaseLayout>
	<Hero/>
	<About/>
	<section>	
		<h4>Roadmap</h4>
	</section>
</BaseLayout>