
<section>
    <h4>About</h4>
    <p>
        Folio puts an emphasis on being local only, financial data is among the most important
        and private information that people have so having control over your
        data is of utmost importance.
    </p>
</section>

<style>
    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
        padding: 72px 0;
    }

    p{
        max-width: 75ch;
        text-align: center;
    }
</style>