
<section>
	<div>
		<h1>Folio</h1>
		<p>
			A free, privacy-focused budgeting app. Track expenses, manage budgets, and 
			analyze your spending all while keeping your financial data private and under your complete control.
		</p>
	</div>
</section>

<style>
	section{
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 64px;
		padding: 88px 0px;
	}

	div{
		display: flex;
		flex-direction: column;
		gap: 24px;
		align-items: center;

		p{
			max-width: 75ch;
			text-align: center;
		}
	}
</style>