---
import Button from "@components/Button.astro"
---
<section>
	<div class="info-section">
		<h1>Folio</h1>
		<p>
			A free, privacy-focused budgeting app. Track expenses, manage budgets, and 
			analyze your spending all while keeping your financial data private and under your complete control.
		</p>
		<div class="flex items-center gap-4">
			<Button>Download for windows</Button>
			<a href="/downloads" class="text-purple-500">Other platforms</a>	
		</div>
	</div>
</section>

<style>
	section{
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 64px;
		padding: 88px 0px;
	}

	.info-section{
		display: flex;
		flex-direction: column;
		gap: 24px;
		align-items: center;

		p{
			max-width: 75ch;
			text-align: center;
		}
	}
</style>