---
type Props = {
	
}

---

<button>
	<slot/>
</button>

<style>
	button{
		display: flex;
		gap: 8px;
		align-items: center;
		justify-items: center;
		background-color: var(--color-surface-primary);
		transition: all 250ms;
		color: var(--color-white);
		border-radius: var(--radius-md);
		padding: 8px 12px;

		&:hover{
			background-color: var(--color-surface-primary-hover);
		}
		
		&:active{
			background-color: var(--color-surface-primary-active);
		}
	}
</style>