
<nav>
	<a href="/"><h4>Folio</h4></a>
	<a href="/">Documentation</a>
	<a href="/">Support</a>
</nav>

<style>
	nav{
		display: flex;
		align-items: center;
		gap: 16px;
		padding: 16px 24px;
		border-bottom: 1px solid var(--color-neutral-50);
	}
</style>